@import "utilidades/variables";
@import "layout/footer";
@import "layout/header";
@import "layout/main";
@import "views/mediaqueries";
@import "layout/redes";
@import "utilidades/globals";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
  }




html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
  }



body {
    background-color: #c1bdb3;
    min-height: 100vh;
}



.carousel {
    display: none ;
}

.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 5rem;

        .cards-shop {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            max-width: 90vw;
            align-items: center;
            justify-content: center;
            
            .shop-card{
                width: 300px;
                border: 2px solid black;
                margin: 1rem;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;

                div {
                    width: 200px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    
}



   

